/*
* PEARSON CONFIDENTIAL
*
* Copyright 2013 Pearson Education, Inc.
* All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Pearson Education, Inc. and/or its subsidiaries,
* affiliates, or assigns (collectively “Pearson Education”), and are
* protected, without limitations, pursuant to U.S. and foreign
* copyright and trademark laws. Dissemination of this information or
* reproduction of this material is strictly forbidden unless prior
* written permission is obtained from Pearson Education, Inc.
* See website how to request for permission:
* http://www.pearsoned.com/permissions/.
*
*/

body {
  background-color: #cdcdcd;
}

body .EDGE-2305382, body .EDGE-2305382 * {
  -webkit-transform: none;
  -moz-transform: none;
  -0-transform: none;
  -ms-transform: none;
  transform: none;
}

.edgeLoad-EDGE-2305382 { 
  visibility:hidden; 
}

#player-base {
  width: 638px;
  margin: 40px auto;
}

#Stage {
  height: 480px;
}

#Stage_EarthParent {
  display: none;
}

.text-with-bkg{
  background-color: rgba(0,0,0,0.7);
  padding-left: 20px;
  padding-top: 4px;
}