<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlowWide_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,480},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,480},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,480},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,480},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,480},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,960},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,960},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,960},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,960},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,960},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1440},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1440},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1440},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,1440},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>FlowWide_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,1440},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WideFlowTextureSheet.png</string>
            <key>size</key>
            <string>{3840,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae24a3395f26e53f1af2b8b00b2291d2$</string>
            <key>textureFileName</key>
            <string>WideFlowTextureSheet.png</string>
        </dict>
    </dict>
</plist>
