/*
* PEARSON CONFIDENTIAL
*
* Copyright 2013 Pearson Education, Inc.
* All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Pearson Education, Inc. and/or its subsidiaries,
* affiliates, or assigns (collectively “Pearson Education”), and are
* protected, without limitations, pursuant to U.S. and foreign
* copyright and trademark laws. Dissemination of this information or
* reproduction of this material is strictly forbidden unless prior
* written permission is obtained from Pearson Education, Inc.
* See website how to request for permission:
* http://www.pearsoned.com/permissions/.
*
*/

.html5-media-row .instruction-container {
    min-height: 543px;
}


@media (max-width: 1024px) {
      /* rearrange the media container and instruction containers */
	.media-container, 
	.instruction-container {
		position: static;
		width: 100%;
		display: block;
		float: none;
		clear: both;
	}


	.html5-media-row .instruction-container {
		min-height: 0px;
	}


	#player-base {
		margin-left: -40px;
	}


	/* The video length indicator should move from the right to the left. */
	#media-length {
		float: none;
	}
}